<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Diary!</title>
    <link href="../styles/journal.css" rel="stylesheet">
    <link href="../styles/windowControls.css" rel="stylesheet">
    <script defer src="../scripts/journal.js"></script>
    <script defer src="../scripts/windowControls.js"></script>
  </head>
  <body>
    <div class="titlebar">
        <div class="window-controls">
            <button id="min-btn"> <img src="../assets/icons/minimize.png" alt="Minimize" draggable="false"> </button>
            <button id="max-btn"> <img src="../assets/icons/maximize.png" alt="Maximize" draggable="false"> </button>
            <button id="close-btn"> <img src="../assets/icons/close.png" alt="Close" draggable="false"> </button>
        </div>
    </div>
    <div class="sidebar">
        <button> <img src="../assets/icons/journal-icon.png" alt="Journal Icon" draggable="false" onclick="window.location.href='journal.html'"></button>
        <button> <img src="../assets/icons/entries-icon.png" alt="Entries Icon" draggable="false" onclick="window.location.href='journalEntries.html'"></button>
        <button> <img src="../assets/icons/blank-icon.png" alt="Stickers Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
        <button> <img src="../assets/icons/blank-icon.png" alt="Lock Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
        <button> <img src="../assets/icons/blank-icon.png" alt="Settings Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
    </div>
    <div class="entry-container">
        <div class="entry-content"> 
            <input type="text" id="entry-title" placeholder="Entry title..."/>
            <textarea id="entry-content" placeholder="Write your thoughts here..." rows="8" cols="10"></textarea> 
        </div>
    </div>
    <div class="navbar">
        <button id="back-btn"> <img src="../assets/icons/back-icon.png" alt="Back" draggable="false" onclick="window.history.back()"></button>
        <button id="save-btn">Save</button>
        <button id="new-entry-btn"><img src="../assets/icons/newentry-icon.png" alt="New Entry" draggable="false" onclick="window.location.href='journal.html'"></button>
    </div>
  </body>
</html>