<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Diary!</title>
    <link href="../styles/studio.css" rel="stylesheet">
    <link href="../styles/windowControls.css" rel="stylesheet">
    <script defer src="../scripts/windowControls.js"></script>
  </head>
  <body>
    <div class="titlebar">
        <div class="window-controls">
            <button id="min-btn"> <img src="../assets/icons/minimize.png" alt="Minimize" draggable="false"> </button>
            <button id="max-btn"> <img src="../assets/icons/maximize.png" alt="Maximize" draggable="false"> </button>
            <button id="close-btn"> <img src="../assets/icons/close.png" alt="Close" draggable="false"> </button>
        </div>
    </div>

    <div class="navbar">
         <button> <img src="../assets/icons/journal-icon.png" alt="Journal Icon" draggable="false" onclick="window.location.href='journal.html'"></button>
         <button> <img src="../assets/icons/blank-icon.png" alt="TV Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
         <button> <img src="../assets/icons/bookshelf-icon.png" alt="Bookshelf Icon" draggable="false" onclick="window.location.href='title.html'"></button>
         <button> <img src="../assets/icons/blank-icon.png" alt="Kitchen Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
         <button> <img src="../assets/icons/blank-icon.png" alt="Plants Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
         <button> <img src="../assets/icons/blank-icon.png" alt="Wardrobe Icon" draggable="false" onclick="window.location.href='studio.html'"></button>
         <button> <img src="../assets/icons/blank-icon.png" alt="Exit Icon" draggable="false" onclick="window.location.href='title.html'"></button>
    </div>
  </body>
</html>