<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desktop Diary!</title>
    <link href="../styles/title.css" rel="stylesheet">
    <script defer src="../scripts/windowControls.js"></script>
  </head>
  <body>
      <img class="logo" src="../assets/logo-blue.png" alt="Desktop Diary logo">
      
      <div class="button-container">
        <button onclick="window.location.href='studio.html'">Start Writing!</button>
      </div>

      <!-- <img class="journal" src="assets/open-journal.png" alt="Journal"> -->
  </body>
</html>